@use 'app/shared/variables' as *;
@use 'app/shared/mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: $font-body;
  font-size: 16px;
  line-height: 1.6;
  color: $dark;
  background-color: $light;
  background-image: radial-gradient(circle, rgba(17, 17, 17, 0.15) 1px, transparent 1px);
  background-size: 24px 24px;
  overflow-x: hidden;
}
